@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body { 
  background-color: lightcyan;
}
#root {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-rows: 3fr;
  grid-template-columns: auto auto auto;
  gap: 50px;
  box-shadow:  0px 15px 15px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

#heading {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 100px;
  color: brown;
}

.episode{
  width: 300px;
  background-color: darkgray;
  margin: 5px;
  padding: 0px 20px 15px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
   box-shadow:  0px 15px 15px 0px black;
  z-index: 1;
}

.episodeTitle{
  border: 2px solid black;
  width: 100%;
  padding: 20px;
  background-color: brown;
  /* position: relative; */
  top: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.search{
  margin: 70px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  
  
}
#searchBox{
  width: 22%;
  font-size: 20px;
  color: black;
  /*margin-left: 20px;*/
}
#selectEp, #showsSelect {
  margin-right: 50px;
  
}

.highlight{
  background-color: red;
}

#numberOfResults {
  margin-left: 2px;
  font-size: 20px;
  font-weight: 700;
  
}


#link {
  text-align: center;
  margin-top: 50px;
}
@media screen and (min-width: 900px) {
    header {
        height: 60px;
        display: flex;
        flex-direction: row;
    }

@media screen and (min-width: 1250px) {
    #root {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
}